<div class="container">

  <form *ngIf="editMode" #produitForm="ngForm" (ngSubmit)="validerFormulaire(produitForm)">
    <h1> Fiche Produit </h1>
    <table>
      <tr>
        <td> Id: </td>
        <input id="id" name="id" type="text" [(ngModel)]="produitCourant.id" required readonly />
      <tr>
        <td> Code: </td>
        <input type="text" name="code" [(ngModel)]="produitCourant.code" />
      </tr>
      <tr>
        <td> Désignation: </td>
        <input type="text" name="designation" [(ngModel)]="produitCourant.designation" />
      </tr>
      <tr>
        <td> Prix: </td>
        <input type="text" name="prix" [(ngModel)]="produitCourant.prix" />

        <tr>
          <td>Categorie:</td>
          <td>
            <select id="categorie" name="categorie" [(ngModel)]="selectedCategory" >
              <option *ngFor="let categorie of categories" [ngValue]="categorie">{{ categorie.libelle }}</option>
          </select> 
        </td>
        </tr>

      <tr>
        <td colspan="2">
          <div *ngIf="erreur" class="error-message">
            {{ erreur }}
          </div>
        </td>
      </tr>
      <tr>
        <td [align]="'center'" colspan="2">
          <input type="submit" value="Valider" class="btn btn-dark" [disabled]="!produitForm.form.valid" />
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="container">
  <h2>Liste des produits</h2>

  <!-- <div class="filter-section">
    <label for="categorieFilter">Filtrer par catégorie:</label>
    <select id="categorieFilter" name="categorieFilter" [(ngModel)]="selectedCategory" (change)="filterProduitsParCategorie()">
      <option value="">Toutes les catégories</option>
      <option *ngFor="let categorie of categories" [ngValue]="categorie.id">{{ categorie.libelle }}</option>
    </select>
    
    <button type="button" class="btn btn-lg btn-primary" (click)="filterProduitsParCategorie()">
      <i class="bi bi-search"></i> Filtrer
    </button>
  </div> -->

  <div class="search-section">
    <label for="searchTerm">Rechercher<i class="bi bi-search"></i>:</label> 
    <input type="text" id="searchTerm" name="searchTerm" [(ngModel)]="searchTerm" (input)="onSearchTermChange()">
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Désignation</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of filteredProduits">
        <td>{{ p.id }}</td>
        <td>{{ p.code }}</td>
        <td>{{ p.designation }}</td>
        <td>{{ p.prix }}</td>
        <td>{{ p.categorie?.libelle }}</td>
        <td>
          <button (click)="editerProduit(p)" class="btn btn-dark">
            <i class="bi bi-pen"></i> Editer
          </button>
        </td>
        <td>
          <button (click)="supprimerProduit(p)" class="btn btn-danger">
            <i class="bi bi-trash"></i> Supprimer
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
